.image{
    background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height:600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    
}

.title{
    position:absolute;
    top:200px;
    left:400px;
    text-align: center;
}
h1{
    color:white;
    font-size: 40px;;
}
Button{
    cursor:pointer;
    padding:10px;
    border-radius: 10px;
    border:2px solid white;
}
Button:hover{
    cursor:pointer;
    padding:10px;
    background-color:red;
    border-radius: 10px;
    border:2px solid white;
    color:white;

}