.card{
    height:300px;
    width:300px;
    background-color: antiquewhite;
    border: 1px solid blue;
    padding: 15px;
    border-radius: 10px;
    margin:20px;
  /*   box-shadow: 0px 0px 9px red; */
/*   box-shadow: offset -x , offset -y, blur-radius, spread-radius, color; */
    box-shadow: 1px 1px 10px 1px red;

/*  box-shadow: inset 50px 150px red; */
}

p{
    text-shadow: 0px 0px 7px blue;
}