*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    height:60px;
}
ul{
    display: flex;
    list-style-type:none;
}
li a{
    padding:10px;
    text-decoration: none;
    color:black

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 900px;
    height: auto;
    margin-top: 20px;;
}
.left{
    padding:40px;
}
h1{
    font-size: 50px;
    color:blue;
    padding:10px;
}
.logo{
    font-size: 50px;
    color:brown
}
 